:root {
  --startButton: slateblue;

}


h1.title {
  display: flex;
  color: var(--startButton);
  margin-top: 100px;
  text-align: center;
  /* outline: solid black 3px; */
  flex-direction: column;
  align-content: center;
  font-size: 50px;
}

.question {
  font-size: large;
  align-content: center;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  outline: rgb(138, 138, 138) solid 3px;
  outline-style: double;
}

.timer {
  font-size: medium;
  text-align: right;
}


/* answer radiobutton css */
#answers {
  margin-top: 5px;
}

#answer1 {
  margin: 10px;
  margin-left: 40px;
}

#answer2 {
  margin: 10px;
  margin-left: 40px;
}

#answer3 {
  margin: 10px;
  margin-left: 40px;
}

#answer4 {
  margin: 10px;
  margin-left: 40px;
}

/* button styling */
div.button {
  padding: 10px;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.submit {
  padding: 16px;
  background-color: var(--startButton);
  font-size: larger;
  color: azure;
  font-weight: bold;
  border: double purple 3px;
  border-bottom: solid rgb(62, 5, 62) 5px;
  border-right: solid rgb(62, 5, 62) 5px;
}

#submit {
  padding: 16px;
  background-color: var(--startButton);
  font-size: larger;
  color: azure;
  font-weight: bold;
  border: double purple 3px;
  border-bottom: solid rgb(62, 5, 62) 5px;
  border-right: solid rgb(62, 5, 62) 5px;
}

#submit:hover {
  background-color: rgb(145, 133, 223);
  color: rgb(94, 94, 94);
}

.submit:hover {
  background-color: rgb(145, 133, 223);
  color: rgb(94, 94, 94);
}